shamefully-hoist=true
auto-install-peers=true
dependencies=false
strict-peer-dependencies=false
registry=https://npm.chintanneng.com/
network-timeout=600000
fetch-retries=5
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000