.micro-lazyload-img {
  &.micro-shine-loading {
    background: linear-gradient(to right, #eff1f1 0%, #e7e9e9 55.73%, #eff1f1 100%);
    animation: shine 10s infinite linear;
  }
  @keyframes shine {
    to {
      background-position: 320px 0;
    }
  }
}
